*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid royalblue; */
}

:root {
  --clr-50: #eff6ff;
  --clr-100: #dbeafe;
  --clr-200: #bfdbfe;
  --bcg-clr-300: #93c5fd;
  --clr-400: #60a5fa;
  --clr-500: #3b82f6;
  --clr-700: #0369a1;
  --clr-sky-100: #e0f2fe;
  --clr-card-read: #afdbf54d;
  --clr-card-unread: #6cb4ee5d;
  --font-one: "Amatic SC", cursive;
  --font-two: "Pacifico", sans-serif;
}

.container {
  margin: 0 auto;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}

/* header */

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo-img > img {
  display: block;
}

.logo {
  font-family: var(--font-two);
  font-size: 3rem;
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.log-container {
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 5px;
  border: 1px solid var(--clr-100);
  border-radius: 5px;
  background-color: var(--clr-200);
}

.log {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 3px;
}

.container h3 {
  padding: 0;
  margin: 0;
  font-family: var(--font-two);
}

/* settings */

.settings {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.legend {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  margin-left: 10px;
}

.legend-read::before,
.legend-unread::before {
  display: block;
  align-items: center;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #6cb4ee5d;
}

.legend-unread::before {
  background-color: #afdbf54d;
}

.legend-read,
.legend-unread {
  padding: 0 3px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.search-bar img {
  display: block;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.settings :is(select, input) {
  font-family: inherit;
  appearance: none;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px 5px;
  margin-left: 3px;
}

.ordering {
  display: flex;
}

/* content */

.content {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  position: relative;
  background: var(--clr-card-read);
  padding: 20px 30px;
  border-radius: 5px;
  min-height: 150px;
  transition: transform 0.2s;
}

.card.checkedAsRead {
  background-color: #6cb4ee5d;
}

.card:hover {
  transform: scale(1.05);
}

.card > .btnRemove {
  position: absolute;
  right: 10px;
  top: 10px;
  background: url(./images/window-close.svg) no-repeat center;
  width: 10px;
  height: 15px;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

.btnRemove:hover {
  transform: scale(1.2);
}

.button {
  padding-top: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.button > button {
  appearance: none;
  outline: none;
  background-color: var(--clr-500);
  border: none;
}

.add-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.add-item::before,
.add-item::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 6px;
  background-color: var(--clr-400);
  border-radius: 5px;
}

.add-item:hover::before,
.add-item:hover::after {
  background-color: var(--clr-700);
}

.add-item:hover {
  transform: scale(1.05);
  background-color: var(--clr-sky-100);
}

.add-item::before {
  transform: rotate(90deg);
}

.cardTitle {
  font-weight: 700;
  text-align: right;
}
.pop-up {
  width: 50px;
  height: 50px;
  background-color: var(--clr-700);
  position: fixed;
  display: flex;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s;
}

.pop-up::after,
.pop-up::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 30px;
  background-color: var(--clr-100);
}

.pop-up::after {
  transform: rotate(90deg);
}

.pop-up:hover {
  transform: rotate(90deg) scale(1.1);
  background-color: var(--clr-sky-100);
}

.pop-up:hover.pop-up::before,
.pop-up:hover.pop-up::after {
  background-color: #60a5fa;
}

.card .status {
  position: relative;
  background-color: var(--bcg-clr-300);
  width: 35px;
  height: 17px;
  border-radius: 15px;
  appearance: none;
  outline: 1px solid var(--clr-400);
}

.status::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 1px;
  left: 1px;
  border-radius: 50px;
  background-color: var(--clr-700);
  transition: transform 0.2s;
}

.status:checked::before {
  transform: translateX(18px);
}

/* prompt */

.book-input-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}

.show-form {
  display: flex;
}

.book-input-form-container {
  background-color: var(--clr-100);
  padding: 20px;
  border: 1px solid var(--clr-200);
  border-radius: 5px;
  position: relative;
}

.exit-button {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 10px;
  top: 10px;
  padding: 0;
  transition: transform 0.2s;
  cursor: pointer;
}

.exit-button:hover {
  transform: scale(1.5);
}

.form-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.book-input-form h2 {
  margin: 0 0 10px;
  padding: 0;
  text-align: center;
  font-family: var(--font-two);
}

.form-div input {
  font-family: inherit;
  appearance: none;
  outline: none;
  border: none;
  width: 200px;
  border: 1px solid var(--clr-200);
  border-radius: 3px;
}

.read-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-div label {
  margin: 3px 0;
}

.read-div input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid var(--clr-200);
}

.read-div input:checked {
  background-color: var(--clr-500);
}

.read-div input:checked::before {
  position: absolute;
  content: url(./images/check.svg);
  top: -1px;
}

.submit-book-button {
  display: block;
  margin: 0 auto;
  width: 150px;
  border: none;
  background-color: var(--clr-400);
  color: white;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.submit-book-button:hover {
  transform: scale(1.03);
}

.submit-book-button:disabled {
  background-color: gray;
}

/* prompt validation */

.pages-div .hint::before {
  display: block;
  content: "should be a number";
  font-size: 0.9rem;
  color: rgba(241, 61, 61, 0.9);
}

@media screen and (min-width: 850px) {
  .legend {
    margin-left: auto;
  }
  .settings {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 650px) {
  .container {
    max-width: 80%;
  }

  .header {
    flex-direction: row;
    justify-content: flex-start;
  }
  .log-container {
    margin: 0;
    margin-left: auto;
  }
  .logo-container {
    display: flex;
  }
  .form-item label {
    display: inline-block;
    width: 80px;
    margin-right: 0.5rem;
    text-align: right;
  }
  .form-item {
    width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
  }
  .pages-div .hint::before {
    margin: 3px 0 -8px 130px;
  }
}
